@charset "utf-8";

@font-face {
    font-family: 'giants';
    font-style: normal;
    font-weight: 400;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'giants';
    font-style: normal;
    font-weight: bold;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'giants';
    font-style: italic;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
}

/**************** RESET ****************/

* {
    margin: 0;
    padding: 0;
    font-family: 'giants';
}

ul, ol, li {
    list-style: none;
}

ul::after, ol::after {
    content: "";
    display: block;
    clear: both;
}
li {
    float: left;
}

a {
    text-decoration: none;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

