@charset 'utf-8';

#records {
    position: fixed;
    // display: none;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.4);
    .records-body {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 315px;
        height: 182px;

        padding: 10px 20px;

        background-color: #fff;
        border: 2px solid #6CACE4;
        border-radius: 20px;

        transform: translate(-50%, -50%);

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        .kbo_pit, .future_pit {
            width: 100%;
            h2 {
                font-size: 18px;
                padding: 0 0 5px 0;
            }
            ul {
                // width: 100%;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 20px;
                li {
                    width: max-content;
                    text-align: center;
                }
            }
            
        }
        .kbo_pit {
            padding-bottom: 20px;
        }
    }
}