@charset "utf-8";

header {
    padding: 10px;
    background-color: #041E42;
    position: relative;
    .default {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 26px;
            font-style: italic;
            font-weight: 400;
            color: #fff;
        }
        img {
            height: 40px;
        }
    }

    nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #041E42;
        transition: all 0.5s ease;
        .nav-wrap {
            display: flex;
            width: 100%;
            flex-direction: column;
            color: #fff;
            align-items: center;
            text-align: center;
            h2 {
                font-weight: bold;
                font-size: 20px;
                padding: 10px;
            }
            ul {
                padding: 10px;
                li {
                    float: none;
                    width: 100%;
                    padding: 5px 0;
                    span {
                        display: none;
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
}